.card {
  width: 42.291666666666664vw;
  height: 5.052083333333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.25vw;
  background: var(--white);
  padding-left: 3.125vw;
  padding-right: 2.5364583333333335vw;
  box-shadow: 0px 0px 50px #0000000f;
  border: 0.5px solid #a7a7a7;
}

.card:hover {
  background: #257cb7;
  border: none;
  transition: all 0.5s;
}

.card p {
  font-size: 1.25vw;
  line-height: 1.5104166666666667vw;
  font-family: var(--font-family);
  color: var(--black);
}

.card:hover p {
  color: var(--white);
}

.card svg {
  width: 0.5729166666666666vw;
  height: 0.8854166666666666vw;
}

.card:hover svg {
  color: var(--white);
}

@media (max-width: 767px) {
  .card {
    width: 100%;
    height: 100%;
    padding: 1.5rem 1rem;
    border-radius: 10px;
  }

  .card p {
    font-size: 16px;
    line-height: 16px;
  }

  .card svg {
    width: 16px;
    height: 16px;
  }
}
